.form-container {
    display: flex;
    flex-direction: row;
    width:495px;

    .input-container {
        flex: 2;
        margin: 0;
        justify-content: center;
        align-items: center;

        // accessing the css from text-input from here on
        .input-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;

            .text-input {
                width: 100%;
                margin: 0;
            }
        }
    }

    .submit-container {
        flex: 1;
        margin: 0;
    }

    .delete-container {
        flex: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
}