.student-tests-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 100%;

    .Tests-header {
        display: flex;
        margin-bottom: 15px;
        justify-content: center;
        padding-left: 8px;
    }
}