.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .delete {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border: 2px solid #960000;
      border-radius: 50%;
      font-size: 18px;
      font-weight: bold;
      color: #960000;
      padding: 0;
    }
  }

  .delete-button:hover .delete {
      background-color: #960000;
      color: #fff;
    }