.student-course-container {
    display: flex;
    flex-direction: row;

    .student-course {
        display: flex;
        width: 230px;
        padding-left: 5px;
        margin-bottom: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #acacac;
        border-radius: 5px;
    }

    .st-course-details-container {
        display: flex;
        width: 230px;
        padding-left: 5px;
        margin-bottom: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #acacac;
        border-radius: 5px;
    }

}