.mainContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .studentsContainer{
        display: flex;
        flex-direction: column;

        .studentContainer {
            margin-bottom: 15px;
        }
    }
}