.test-name-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  .test-name-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    .test-name {
      display: flex;
      width: 350px;
    }

    .test-availability {
      display: flex;
      margin-left: 10px;
      font-size: 20px;
    }
  }
}

.test-name-container a {
    display: flex;
    padding: 0.5rem;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
    width: 250px;
    height: 60px;
    justify-content: center;
    align-items: center;
  }

.test-name-container a:hover {
  background-color: #ddd;
}
