.excel-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .logo{
    margin-bottom: 0;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .submit-button {
      background-color: #3d0000;
      border: 1px solid black;
      color: white;
      font-family: "Ubuntu", sans-serif;
      font-size: medium;
      border-radius: 5px;
      padding: 5px;
      margin-top: 10px;
      width: 150px;

      &:hover {
        background-color: rgb(140, 0, 0);
        color: rgb(255, 255, 255);
        border: 1px solid black;
        border-radius: 5px;
        font-size: medium;
      }
    }
  }
}
