.gradeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .testNameContainer {
        width: 200px;
        margin-right: 20px;
    }

    .availabilityIcon {
        margin-left: 20px;
    }

    .excelIcon{
        width: 30px;
    }
}