.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .sidebar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 23rem;
    padding: 20px;
    background-color: rgb(237, 237, 237);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    margin-bottom: 20px;

    .navlink-container {
      justify-content: center;
      align-items: center;
      background-color: #cdcdcd50;
      margin-right: 5px;
      margin-left: 5px;
      border-radius: 5px;
    }
  }

   //NavLink styling
   .sidebar-container a {
    display: flex;
    padding: 0.5rem;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
    width: 140px;
    height: 60px;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar-container a:hover {
    background-color: #ddd;
  }
  
  .sidebar-container a.active {
    background-color: #010030;
    color: #ffffff;
    width: 140px;
    height: 60px;
  }  
  
  .outlet-container {
    flex: 1;
  }

  h2 {
    text-align: center;
  }