.sidebar-student-dashboard {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #acacac;
    border-radius: 5px;
    padding: 1rem;

    .student-courses-header {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-top: 0;
    }
}