.mainContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;

    .testNameContainer{
        display: flex;
        flex-direction: row;
        align-items: center;

        .availabilityIcon{
            margin-left: 15px;
        }
    }

    .studentNameContainer {
        display: flex;
        flex-direction: row;
        align-items: center;

        .studentGrade{
            margin-left: 15px;
        }
    }

    .testGradesContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .singleGradeContainer{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 15px;

            .questionIndex{
                margin-right: 5px;
            }

            .question{
                width: 250px;
            }
        }

        .gradesHeader{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 20px;

            .questionsHeaders{
                width: 250px;
                margin-right: 15px;
            }
        }
    }
}