.edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .edit-svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 19px;
      height: 19px;
      border: 0;
      margin: 0px;
      border-radius: 2px;
    }
  }