.mic-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .mic {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00ffff00;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        width: 60px;
        height: 60px;

        .mic-svg {
            width: 30px;
            height: 30px;
        }
        
        &:hover {
            background-color: #e6f2ff; /* Very light blue */
        }
    }

    .available {
        border-color: #2064FF;
    }

    .unavailable {
        border-color: #7a7a7a;
    }

    .recording {
        border-color: #ff3131;
    }

    .recording-box {
        display: flex;
        background-color: #ff3131;
        border-radius: 5px;
        width: 20px;
        height: 20px;
    }

    .play-container {
        margin-right: 10px;
        font-size: 30px;
    }
}